<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quickagent Web App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <img class="click" src="{{ url_for('static', filename='alep.png') }}" />
        <div class="button-container">
            <input type="checkbox" id="record" class="mic-checkbox" />
            <label for="record" class="mic-button" onclick="startTranscription()">
                <div class="mic">
                    <div class="mic-button-loader"></div>
                    <div class="mic-base"></div>
                </div>
                <div class="button-message">
                    <span>&nbsp;</span>
                    <span> START </span>
                </div>
            </label>
        </div>
    </div>
    <h2>Captions by Deepgram and alephLABS</h2>
    <h2>A FundsTrace App</h2>
    <div class="captions" id="captions">
        <span>Realtime speech transcription API</span>
    </div>
    <div class="button-container">
        <a href="" class="info-button sign-up" target="_blank">Sign Up</a>
        <a href="https://github.com/RodneyFinkel/groq_deepgram_agent" class="info-button docs" target="_blank">Read the Docs</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <br>
    <!-- <iframe id="transcriptFrame" width="600" height="400" frameborder="1"></iframe> -->
    <script>
        function startTranscription() {
            fetch('/transcribe', {
                method: 'POST',
            })
            .then(response => {
                if (response.ok) {
                    console.log('Transcription started');
                } else {
                    console.error('Failed to start transcription');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // Function to update transcript frame
        function updateTranscript(transcript) {
            var captionsDiv = document.getElementById('captions');
            captionsDiv.innerHTML = '<span>' + transcript + '</span>';
        }
    </script>
</body>
</html>
