<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quickagent Web App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <img class="navbar-logo" src="{{ url_for('static', filename='alep.png') }}" alt="Logo" />
    </nav>
    <div class="content">
        <!-- <img class="click" src="{{ url_for('static', filename='alep.png') }}" /> -->
        <div class="button-container">
            <input type="checkbox" id="record" class="mic-checkbox" />
            <label for="record" class="mic-button" onclick="startTranscription()">
                <div class="mic">
                    <div class="mic-button-loader"></div>
                    <div class="mic-base"></div>
                </div>
                <div class="button-message">
                    <span>&nbsp;</span>
                    <span> START </span>
                </div>
            </label>
        </div>
    </div>
    <h2>STT-LLM-TTS Transcriber</h2>
    <h2>Deepgram and Grok</h2>
    
    <div class="captions" id="captions">
        <span>Realtime speech transcription API</span>
        <iframe id="transcriptFrame" width="600" height="100" frameborder="1" src="/full_transcript"></iframe>
    </div>
    <div class="button-container">
        <a href="" class="info-button sign-up" target="_blank">Sign Up</a>
        <a href="https://github.com/RodneyFinkel/groq_deepgram_agent" class="info-button docs" target="_blank">Read the Docs</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <br>
    
    <script>
        function startTranscription() {
            fetch('/transcribe', {
                method: 'POST',
            })
            .then(response => {
                if (response.ok) {
                    console.log('Transcription started');
                } else {
                    console.error('Failed to start transcription');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        
       

        // Function to fetch the latest transcript and update the iframe
        function updateTranscript() {
            fetch('/full_transcript')
                .then(response => response.json())  // Expecting HTML content, so use .text() if json then .json()
                .then(data => {
                    console.log(data) // Inspect the structure of data.full_sentence
                    var iframe = document.getElementById('transcriptFrame');
                    var doc = iframe.contentDocument || iframe.contentWindow.document;
                    doc.open();
                    doc.write(data);
                    doc.close();
                })
                .catch(error => {
                    console.error('Error fetching transcript:', error);                 
                });
        }

        // Set an interval to reload the iframe every 5 seconds
        setInterval(updateTranscript, 5000);
    </script>
</body>
</html>
